<ion-view title="Locations" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="locations-form3" class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search this list">
      </label>
    </form>
    <div id="locations-button-bar1" class="button-bar">
      <button id="locations-button4" class="button button-positive  button-block">Add</button>
      <button id="locations-button5" class="button button-positive  button-block">View All</button>
    </div>
    <div class="item item-body" id="locations-list-item-container1">
      <div id="locations-markdown2">
        <p style="margin-top:0px;color:#000000;font-size:9px;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>